{%extends "bootstrap/base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{% block title%}
MACHINE LEARNING
{%endblock%}

{%block content%}

<div class="container">
<h1>Regression Model Predict the Percentage of efficiency of an NBA player</h1>

<p><b>C=0 </br> PF=1 </br> PG=2  </br> SF=3 </br> SG=4 </b></p>

<ol>


<form method="POST",action="{{url_for('form')}} ">
	<div class="form-group">
	{{form.csrf_token}}

	<li>{{wtf.form_field(form.position)}}</li>

	<li>{{wtf.form_field(form.games_played)}}</li>

	<li>{{wtf.form_field(form.minutes_per_game)}}</li>

	<li>{{wtf.form_field(form.points_per_game)}}</li>
	
	<li>{{wtf.form_field(form.average_field_goal_made)}}</li>
	
	<li>{{wtf.form_field(form.average_field_goal_attempted)}}</li>
	
	<li>{{wtf.form_field(form.field_goal_percentage)}}</li>
	
	<li>{{wtf.form_field(form.average_3_point_field_goal)}}</li>
		
	<li>{{wtf.form_field(form.average_3_point_field_goal_attempted)}}</li>
	
	<li>{{wtf.form_field(form.three_point_field_goal_percentage)}}</li>
	
	<li>{{wtf.form_field(form.average_free_throws_made)}}</li> 

	<li>{{wtf.form_field(form.average_free_throws_attempted)}}</li>
	
	<li>{{wtf.form_field(form.free_throw_percentage)}}</li>
	
	<li>{{wtf.form_field(form.rebounds_per_game)}}</li>
	
	<li>{{wtf.form_field(form.assist_per_game)}}</li>
	
	<li>{{wtf.form_field(form.steals_per_game)}}</li>
	
	<li>{{wtf.form_field(form.block_per_game)}}</li>
	
	<li>{{wtf.form_field(form.turnover_per_game)}}</li>
	
	<li>{{wtf.form_field(form.double_double)}}</li>
	
	<li>{{wtf.form_field(form.triple_double)}}</li>

	<hr>
	{{wtf.form_field(form.submit)}}
</div>
</form>

</ol>
</div>
{%endblock%}
